@use "sass:color";
@use "variables" as *;
@use "pages/home.scss";
@use "layout/hero.scss";
@use "layout/header.scss";
@use "common/sidebar.scss";
@use "common/product-card.scss";
@use "layout/top-categories.scss";
@use "layout/brands-ticker.scss";
@use "layout/deal-of-day.scss";
@use "components/cart";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
}

.mx-auto {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  &:hover {
    background-color: $color-bg-card;
  }
}
